<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}}{{else}}Aconselhador Bíblico | Conselho Diário{{/if}}</title>
    <meta name="description" content="Receba conselhos, estudos e mensagens inspiradoras baseados na Bíblia.">
    <meta name="keywords" content="bíblia, conselhos, inspiração, cristão">
    <meta name="author" content="Developersmz">
    <link rel="icon" href="/img/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
</head>
<body>
    {{{ body }}}
</body>
</html>
