<!-- Css Links -->
<link rel="stylesheet" href="/css/forms.css">

<!-- Section -->
<section class="sec-form">
  <!-- Title -->
  <div class="section-title">
    <h1>Login</h1>
  </div>
  <!-- FORM -->
  <div class="container">
    <div class="row">
      <form action="/aconselhadorbiblico/admin" method="post">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Passwod"><br>
        <button type="submit">Authenticate</button>
      </form>
    </div>
  </div>
</section>

<!-- Javascript -->
<script src="js/forms.js"></script>

<!-- Section -->
