/* ------
Fonts
--------*/
@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
  }
  @font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
  }
  @font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
  }
  @font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
  }

* {
    font-family: "Roboto", sans-serif;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	outline: none;
	text-decoration: none;
}

body {
    background-color: #010103;
    color: #fff;
}
h1 {
    text-align: center;
    padding-bottom: 10px;
    text-transform: capitalize;
}
div {
    display: inline-block;
    padding: 20px;
}
label {
    font-family: inherit;
    font-weight: 600;
    font-size: 19px;
}
input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}
select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 300;
}
textarea {
    width: 100%;
    height: max-content;
    padding: 15px;
    font-size: 1rem;
}
button {
    padding: 10px 3%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    border: none;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#add {
    background-color: #3add09;
    color: #fff;
}
#add:hover {
    background-color: #3bdd09c0;
}
#send {
    background-color: #000ed8;
    color: #fff;
}
#send:hover {
    background-color: #000ed8d2;
}
